.comments
    min-height: 900px
    &__body
        display: flex
        align-items: center
        justify-content: space-between
    &__body
        margin-bottom: 18px
        &-about
            display: flex
            align-items: center
        &-info
            margin-left: 20px
        &-name
            font-size: 36px
            line-height: 1.2
            color: $color-black
            margin-bottom: 20px
    &__content
        position: relative
        width: 95%
        margin: 0 auto
        z-index: 1
        &-desktop
            display: block

    &__text
        &-item,
        &--hidden
            font-size: 24px
            line-height: 1.2
            color: $color-black
            margin-bottom: 34px
            &--hidden
                font-size: 24px
                line-height: 1.2
                color: $color-black
                margin-bottom: 34px
                display: none
    &__button
        margin: 0 auto 20px
        width: 240px
        border-radius: 8px
        font-size: 18px
        color: $color-white
        padding: 9px 0
        background-color: $color-dark-orange

    &__swiper
        min-height: 450px
        width: 90%
        &-slide
            background-color: $color-pink
            border-radius: 32px
            padding: 20px 20px 0 20px
            margin-bottom: 44px
            min-height: 400px !important
    &__mobile
        display: none
        margin-bottom: 60px
        .comments__mobile-swiper
            .swiper-button-next,
            .swiper-button-prev
                top: 70px
                &::after
                    content: ''
            .swiper-button-next
                right: 20px
            .swiper-button-prev
                left: 20px
            .swiper-slide
                text-align: center
                img
                    width: 150px
                    height: 140px
                    margin-bottom: 10px
        &-title,
        &-instagram
            color: $color-black
            margin-bottom: 12px
            text-align: center
        &-text
            padding: 10px
            border-radius: 16px
            line-height: 1.3
            background-color: #fdcfba
            margin-bottom: 35px
        &-button
            margin: 0 auto
            padding: 13px 0
            width: 100%

.swiper-comments-pagination
    bottom: 0 !important
    .swiper-pagination-bullet
        margin-right: 20px !important
        width: 20px !important
        height: 20px !important
        background-color: #c4c4c4 !important
        opacity: 1
        &-active
            background-color: $color-black !important

.swiper-comments-button-prev:after, .swiper-comments-button-next:after
    color: $color-black
.comments__text-item--active
    display: block

@media (max-width: 375px)
    .comments
        min-height: 600px
        &__content
            display: none
        &__mobile
            display: block
