.advantages
    &__wrapper
        margin-bottom: 100px
    &__content
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        column-gap: clamp(100px, 4vw, 172px)
        row-gap: 45px

    &__item
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 365px
        height: 425px
        border-radius: 16px
        border: 2px solid $color-orange
        padding: 30px 20px 27px 30px

        &-title
            color: $color-orange
            font-size: 28px
            line-height: 1.2
            margin-bottom: 25px

        &-img
            margin-bottom: 30px

        &-text
            text-align: center
            font-size: 24px
            line-height: 1.2
            color: $color-dark-gray
